@using Patililer.Models.Siniflar
@model List<Ilanlar>

@{
    ViewData["Title"] = "İlanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
  <div class="gallery_section layout_padding2-top">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2>
          <hr>
          İlanlar
          <hr>
        </h2>
      </div>
      <div class="row">
        <div class=" col-sm-8 col-md-6 px-0">
          <div class="img-box">
            <img src="~/client/images/g1.jpg" alt="">
            <div class="btn-box">
              <a href="~/client/images/g1.jpg" data-toggle="lightbox" class="btn-1">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
              </a>
            </div>            
          </div>       
    </div>
  </div>
*@


        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">              
              <h3>İLANLAR</h3>
            </div>

            <div class="row gy-5">
               
            @foreach(Ilanlar ilan in Model)
            {
                  <div class="col-lg-4 menu-item "style="text-align: center">
                <a href="Ilanlar/IlanDetay/@ilan.ID" class="glightbox"><img src="~/client/images/hayvanlar/@(ilan.ID).jpeg"style="width:200px;height: 200px" class="menu-img img-fluid" alt=""></a>
                
                <p class="ingredients">
                    <a href="@Url.Action("Ilanlar", "IlanDetay","ID")">@ilan.Baslik</a> <br>
                <p style="text-align:justify-all">Yaşı: @ilan.Yas<br />@ilan.Aciklama<br />Cinsiyet:@ilan.Cinsiyet <br /> @ilan.Tarih.ToString("dd:MM:yyy")<br /></p>
                    
                </p>
                <p class="price">
                  
                </p>
              </div><!-- Menu Item -->

            }
            

            </div>
          </div>
          <br /><br />
             <div class="btn-group">
                                    <a href="" class="btn-group">
                                        Daha Fazla Göster
                                    </a>   
             </div>                       
          <!-- End Starter Menu Content -->
